BITRIX_WEBHOOK_URL=
BITRIX_SOURCE_ID=WEB
BITRIX_LEAD_STATUS_ID=
BITRIX_ASSIGNED_BY_ID=

BITRIX_FIELD_LAYOUT=
BITRIX_FIELD_PURCHASE_METHOD=
BITRIX_FIELD_BUDGET=
BITRIX_FIELD_CONTACT_METHOD=
BITRIX_FIELD_GCLID=
BITRIX_FIELD_YCLID=
BITRIX_FIELD_REFERRER=
BITRIX_FIELD_LANDING_PATH=
BITRIX_FIELD_USER_AGENT=

NEXT_PUBLIC_SITE_URL=https://formula-tyumen.ru
